PORT=5000
EMAIL_USER=pramanit.official@gmail.com
# Gmail OAuth2 Configuration
GOOGLE_CLIENT_ID=56342780992-h9na19edtktiem0ubguehofr9obgerjt.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REFRESH_TOKEN=1//04E5Lap_zhTMICgYIARAAGAQSNwF-L9Ir9EIX0Bmuzmmg9PZpy2ZuKY4-vNPsxwIsQ4e25ECQENbyHMWJ5bLydirWD-JiIgszwLI

JWT_SECRET=your-super-secret-jwt-key
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/pramanit
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
ENCRYPTION_KEY=32_byte_hex_string
REDIS_URL=rediss://default:password@endpoint:port
FRONTEND_URL=pramanit-six.vercel.app
